* {
  margin: 0px;

  font-family: Open Sans;
}
.header {
  background-color: #fff8f3;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
nav ul li {
  display: inline;
  list-style: none;
}
li a {
  list-style: none;
  text-decoration: none;
  color: #030303;
}
li {
  margin-left: 10px;
  color: #070402;
}
.primary-btn {
  background-color: #fd6e0a;
  color: rgb(255, 247, 247);
  padding: 10px 20px;
  width: 150px;
  height: 64px;
  border-radius: 5px;
}
/* banner style */
.banner {
  background-image: url(../portfolio-resources/images/header_bg.png),
    url(../portfolio-resources/images/developer.png);
  background-position: right bottom, left;
  background-repeat: no-repeat;
  background-size: auto 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.banner .banner-img {
  width: 500px;
}
.banner .primary-btn {
  border: none;
  color: #fff8f3;
  background-color: #fd6e0a;
  padding: 15px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  align-items: center;
  cursor: pointer;
}
.banner-titel {
  color: var(--dark-02, #474747);
  font-family: Open Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.banner-sub-titel {
  color: var(--dark-01, #181818);
  font-family: Open Sans;
  font-size: 85px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.banner-description {
  width: 585px;
  color: var(--dark-03, #757575);
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-bottom: 10px;
}
.banner {
  margin-left: 20px;
}
.banner-container {
  margin-left: 20px;
}
/* about section */
.about {
  background-color: #fff8f3;
  margin: 90px 230px;
  border-radius: 5px;
}
.about-titel {
  color: var(--dark-01, #181818);
  text-align: center;
  font-family: Open Sans;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 130px 0 20px;
}
.about-description {
  color: var(--dark-03, #757575);
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  padding: 0 150px;
}
.about-contact {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 20px 130px 130px 130px;
}
.about div h2 {
  font-size: 20px;
}
/* skill container */
.skill-container {
  margin: 0 230px;
}
.skill-titel {
  text-align: center;
  margin-top: 50px;
  color: var(--dark-01, #181818);
  text-align: center;
  font-family: Open Sans;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}
.skil-description {
  color: var(--dark-03, #757575);

  text-align: center;
  margin-top: 30px 140px 0;
  color: #030303;
  font-weight: 400px;
  margin-bottom: 50px;
}
.box-container {
  display: flex;
}
.box {
  border-radius: 5px;
  border: none;
  /* width: 267px;
  height: 377px; */
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  margin-right: 30px;
  padding: 20px;

  text-align: start;
}
.box img {
  padding: 10px 0 10px 0;
}
.box-titel {
  align-items: center;
  font-size: 20px;
  padding-bottom: 15px;
}
.box .skill-description {
  color: var(--dark-03, #757575);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  padding-top: 20px;
}
/* summary style */
.summary-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 230px;
}
.edu-box {
  margin-right: 20px;
  padding: 20px;
}
.edu-box h2 {
  margin: 20px 0 10px;
  color: var(--dark-02, #474747);
  font-family: Open Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.edu-box p {
  padding: 10px 0 10px;
}
